
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Abdul Wahib</p>
  </div>
</div>
</body>
<script src="https://kit.fontawesome.com/6844699153.js" crossorigin="anonymous"></script>
</html>
