
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Abdul Wahib | <a class="navigation-link" href="https://abdul-wahib.onrender.com">Visit me here</a></p>
  </div>
</div>
</body>
<script src="https://kit.fontawesome.com/6844699153.js" crossorigin="anonymous"></script>
</html>
